{% extends 'sidebar.html' %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<!-- Style css location  -->
<link rel="stylesheet" type="text/css" href="{% static 'css/profile/profile.css' %}">

<h1>Change Password</h1><hr><br>

<div class="container">
	<div class="form-group">
		<form method="POST">
			{%  csrf_token %}
			{{form.as_p}}
			<button class="btn btn-success">Update Password</button>
		</form>
	</div>
	<br>
	<div class="alert alert-info" role="alert">
		<ul style="margin-left: 20px;">
			<li>Your password can’t be too similar to your other personal information.</li>
			<li>Your password must contain at least 8 characters.</li>
			<li>Your password can’t be a commonly used password.</li>
			<li>Your password can’t be entirely numeric.</li>
		</ul>
	</div>
</div>
{% endblock %}